.container {
  display: flex;
  flex-direction: column;

  min-width: 300px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5rem 0;

  text-align: center;
  font-size: 0.6rem;
  font-weight: bold;

  border-bottom: 1px solid #eee;
}

img {
  width: 60px;
  height: 100%;
}

.block {
  padding: 0 0.5rem;

  border-bottom: 1px solid #eee;
}
